#gora {
  width: 100%;
  border-style: solid;
  height: 150px;
}
#d1 {
  width: 32%;
  float: left;
  border-style: solid;
  height: 200px;
}
#d2 {
  width: 33%;
  float: left;
  border-style: solid;
  height: 200px;
}
#d3 {
  width: 33%;
  float: right;
  border-style: solid;
  height: 200px;
}
#g1 {
  width: 40%;
  float: left;
}
#g2 {
  width: 40%;
  float: right;
}
.blue {
  background-color: blue;
}
